CONFIG_ARM_ARMADA_8K_CPUFREQ=m
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
CONFIG_NET_DSA_MV88E6XXX=m
CONFIG_NET_DSA_TAG_DSA=m
CONFIG_NET_DSA_TAG_EDSA=m
CONFIG_SENSORS_MCP3021=m
CONFIG_SFP=m
CONFIG_UIO=y
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_SERIAL_WWAN=m
CONFIG_USB_WDM=m
CONFIG_ARMADA_AP_CPU_CLK=y
CONFIG_MDIO_I2C=m
CONFIG_NET_DSA_MV88E6XXX_PTP=y
CONFIG_NET_DSA_TAG_DSA_COMMON=m
# CONFIG_UIO_AEC is not set
# CONFIG_UIO_CIF is not set
# CONFIG_UIO_DMEM_GENIRQ is not set
# CONFIG_UIO_MF624 is not set
# CONFIG_UIO_NETX is not set
# CONFIG_UIO_PCI_GENERIC is not set
# CONFIG_UIO_PDRV_GENIRQ is not set
# CONFIG_UIO_PRUSS is not set
# CONFIG_UIO_SERCOS3 is not set
CONFIG_STP=m
CONFIG_LLC=m
CONFIG_EXPERT=y
CONFIG_GPIO_SYSFS=y
CONFIG_RFKILL_GPIO=m
CONFIG_PHY_MVEBU_CP110_UTMI=y
CONFIG_CRYPTO_DEV_SAFEXCEL=m
# CONFIG_ARM64_SVE is not set
CONFIG_MVPP2_PTP=y
