CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_I2C_EEPROM=y
CONFIG_CMD_TLV_EEPROM=y
CONFIG_ID_EEPROM=y
CONFIG_LAST_STAGE_INIT=y
CONFIG_GPIO_HOG=y
CONFIG_PHY_MARVELL_10G=y
CONFIG_DM_PCA953X=y
CONFIG_DM_RTC=y
CONFIG_MARVELL_RTC=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_BUTTON=y
CONFIG_BUTTON_GPIO=y
CONFIG_CMD_GPIO=y
CONFIG_LED=y
CONFIG_LED_GPIO=y
CONFIG_CMD_SNTP=y
