CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_I2C_EEPROM=y
CONFIG_CMD_TLV_EEPROM=y
CONFIG_ID_EEPROM=y
CONFIG_LAST_STAGE_INIT=y
CONFIG_GPIO_HOG=y
CONFIG_PHY_MARVELL_10G=y
CONFIG_DM_PCA953X=y
CONFIG_DM_RTC=y
CONFIG_MARVELL_RTC=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_BUTTON=y
CONFIG_BUTTON_GPIO=y
CONFIG_CMD_GPIO=y
CONFIG_LED=y
CONFIG_LED_GPIO=y
CONFIG_CMD_SNTP=y
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_CMD_ZBOOT=y
CONFIG_WDT=y
CONFIG_WDT_SBSA=y
CONFIG_WATCHDOG=y
CONFIG_CMD_WDT=y
# CONFIG_USB_HOST_ETHER is not set
# CONFIG_CMD_NAND is not set
# CONFIG_MTD_RAW_NAND is not set
# CONFIG_NAND_PXA3XX is not set
# CONFIG_CMD_EXT4_WRITE is not set
# CONFIG_EXT4_WRITE is not set
# CONFIG_SPI_FLASH_MACRONIX is not set
# CONFIG_SPI_FLASH_SPANSION is not set
# CONFIG_SPI_FLASH_STMICRO is not set
# CONFIG_SPI_FLASH_SST is not set
CONFIG_SPI_FLASH_WINBOND=y
# CONFIG_ENV_SPI_MAX_HZ is not set
# CONFIG_MMC_BROKEN_CD is not set
